<header class="site-header kg-width-full">
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        {{> logo}}
      </div>
      <div class="navbar-right">
        {{#if @site.navigation}}
          <nav class="main-nav hidden-xs hidden-sm hidden-md">
            {{navigation}}
            {{#if @member}}
              <span class="menu-item-sep"></span>
              <a class="menu-item menu-item-account" href="{{@site.url}}/account/">{{t 'Account'}}</a>
              {{#unless @member.paid}}
                <a class="menu-item menu-item-subscribe" href="{{@site.url}}/signup/">{{t 'Upgrade'}}</a>
              {{/unless}}
            {{else}}
              <span class="menu-item-sep"></span>
              <a class="menu-item menu-item-login" href="{{@site.url}}/signin/">{{t 'Login'}}</a>
              <a class="menu-item menu-item-subscribe" href="{{@site.url}}/signup/">{{t 'Subscribe'}}</a>
            {{/if}}
          </nav>
          {{> burger}}
          {{> mobile-menu}}
        {{/if}}
      </div>
    </div>
  </div>
</header>