<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i">

    <script>
        var siteUrl = '{{@site.url}}';
    </script>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{block "body_class"}}">
    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> cover}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>

</html>