{{!< default}}

<div class="content-area">
    <main class="site-main container">
        {{#if @custom.show_featured_posts}}
            {{> featured}}
        {{/if}}
        {{#get "tags" limit="all" include="count.posts"}}
            <div class="topic-feed">
                <div class="row">
                    {{#foreach tags}}
                        <div class="col-md-6">
                            <section class="topic">
                                <header class="topic-header">
                                    <h2 class="topic-name">{{name}}</h2>
                                    <div class="topic-count">
                                        {{plural count.posts empty="No articles" singular="1 article" plural="% articles"}}
                                    </div>
                                </header>
                                {{#get "posts" order="published_at asc" filter="tag:{{slug}}"
                                    limit="5" as |featured|}}
                                    <ul class="topic-article-feed u-plain-list">
                                        {{#foreach featured}}
                                            <li class="topic-article">
                                                <h3 class="topic-article-title">
                                                    <a class="topic-article-link" href="{{url}}">
                                                        <i class="topic-article-icon icon icon-chevron-right"></i>{{title}}
                                                    </a>
                                                </h3>
                                            </li>
                                        {{/foreach}}
                                    </ul>
                                {{/get}}
                                <a class="topic-more button-arrow button-arrow-right" href="{{url}}">View All</a>
                            </section>
                        </div>
                    {{/foreach}}
                </div>
            </div>
        {{/get}}
    </main>
</div>