{{!< ../default}}

<div class="content-area">
  <main class="site-main">
    <div class="page-header">
      <h1 class="page-heading">{{t 'Your account'}}</h1>
      <p class="page-subheading">{{t 'Here are all the settings and data for your account. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing!'}}</p>
    </div>

    {{#if @member.paid}}
      <div class="account">
        <div class="account-wrapper">
          <div class="account-row account-row-email">
            <h2 class="account-heading">{{t 'Email:'}}</h2>
            <div class="account-body">{{@member.email}}</div>
          </div>
        </div>
        {{#foreach @member.subscriptions}}
          <div class="account-row account-row-status">
            <h2 class="account-heading">{{t 'Status:'}}</h2>
            <div class="account-body {{status}}">{{status}}</div>
          </div>
          <div class="account-row account-row-plan">
            <h2 class="account-heading">{{t 'Plan:'}}</h2>
            <div class="account-body">$<span class="account-plan-price">0</span>/{{plan.interval}}</div>
          </div>
          <div class="account-row account-row-card">
            <h2 class="account-heading">{{t 'Card:'}}</h2>
            <div class="account-body">**** **** **** {{default_payment_card_last4}}</div>
          </div>
          <div class="account-row account-row-bill">
            <h2 class="account-heading">
              {{#if cancel_at_period_end}}
                {{t "Expires:"}}
              {{else}}
                {{t "Next bill:"}}
              {{/if}}
            </h2>
            <div class="account-body">{{date current_period_end}}</div>
          </div>
          <div class="account-row account-row-cancel">
            <div class="account-body">
              {{cancel_link class="account-cancel" errorClass="account-cancel-error"}}
            </div>
          </div>
          <div class="account-row account-row-action">
            <button class="button button-secondary" data-members-signout>{{t 'Sign out'}}</button>
          </div>
        {{/foreach}}
      </div>
      {{#contentFor "scripts"}}
        <script>
          $(function () {
            var planAmount = {{plan.amount}} / 100;
            $('.account-plan-price').text(planAmount);
          });
        </script>
      {{/contentFor}}
    {{else if @member}}
      <div class="account">
        <div class="account-wrapper">
          <div class="account-row account-row-email">
            <h2 class="account-heading">{{t 'Email:'}}</h2>
            <div class="account-body">{{@member.email}}</div>
          </div>
          <div class="account-row account-row-status">
            <h2 class="account-heading">{{t 'Status:'}}</h2>
            <div class="account-body free">{{t 'free'}}</div>
          </div>
          <div class="account-row account-row-action">
            <a class="button" href="/signup/">{{t 'Upgrade'}}</a>
            <button class="button button-secondary" data-members-signout>{{t 'Sign out'}}</button>
          </div>
        </div>
      </div>
    {{else}}
      <script>window.location = '{{@site.url}}/signin/';</script>
    {{/if}}
  </main>
</div>